* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.mail-head {
    background-color: #252525;
    padding: 1.5em 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.brandwrap img {
    width: 159px;
    height: 25px;
    object-fit: cover;
}

.welcome-text {
    color: white;
    font-size: 20px;
    font-weight: 600;
    grid-row: 2/3;
    line-height: 1.2;
    align-self: flex-end;
}

.welcome-img {
    grid-row: 1/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome-img img {
    width: 157px;
    height: 97px;
}

.blue-col {
    color: #4CA9EE;
}

.cyan-col {
    color: #29E7CD;
}

.mail-body {
    padding: 1em 9%;
}

.template-heading {
    font-size: 18px;
    text-align: center;
    margin: 1em 0;
    font-weight: 600;
    color: #252525;
}

.template-matter {
    font-weight: 400;
    font-size: 10px;
    text-align: left;
    line-height: 1.5;
}

.h-rule {
    background-color: #4CA9EE;
    outline: none;
    height: 2px;
    margin: 1.5em auto;
}

.matter-subhead {
    color: #252525;
    font-size: 14px;
    font-weight: 600;
}

.usp-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.5em;
    row-gap: 1.5em;
    column-gap: 1em;
}

.usp-item {
    display: flex;
    align-items: center;
}

.usp-img img {
    width: 50.5px;
    height: 45.5px;
    margin-right: 1em;
}

.usp-text {
    font-weight: 600;
    font-size: 12px;
}

.download-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-app img {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.download-app-text {
    font-size: 10px;
    color: #757575;
    font-weight: 500;
    width: 50%;
    text-align: center;
}

.mail-foot {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 5%;
    background-color: #252525;
    align-items: center;
}

.template-btn {
    background-color: #4CA9EE;
    color: white;
    text-decoration: none;
    padding: .6em 1.5em;
    font-size: 9px;
    font-weight: 600;
    display: block;
    margin: 1.5em;
    border-radius: 5px;
}

.foot-brandwrap {
    display: flex;
    align-items: center;
}

.foot-brandwrap img {
    width: 159px;
    height: 25px;
    object-fit: cover;
}

.links-div {
    display: flex;
    justify-content: center;
}

.foot-link {
    text-decoration: none;
    color: white;
    font-size: 9px;
    padding-bottom: 1em;
    display: block;
    text-align: center;
}

.links-div img {
    margin: 0 .5em;
    width: 26px;
    height: 26px;
}